<IfModule mod_headers.c> 
  Header set  Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Headers "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
</IfModule>
Options -Indexes
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1